# Python
*.pyc
*.pyd
*.pyo
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.venv
venv/
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
media/
static_collected/ # Se você usa collectstatic e não quer que os arquivos coletados sejam versionados

# IDEs e Editores
.idea/ # PyCharm
.vscode/ # VS Code
.DS_Store # macOS
*~ # Arquivos temporários do Linux/Unix

# Variáveis de ambiente
.env

# Outros arquivos específicos do Django
*.sqlite3
/staticfiles/ # Se você tem uma pasta staticfiles na raiz do projeto (geralmente gerada por collectstatic)
/mediafiles/ # Se você tem uma pasta para uploads de mídia na raiz do projeto

# Debug e logs
*.log
*.sqlite3
debug.log
.ipynb_checkpoints/ # Jupyter notebooks

# Docker
.dockerignore